body{
    font-family: monospace;
    background-color: #0e1421;
    height: 100vh;
}

header{
    padding: 30px 150px;
    border-bottom: 2px solid $headerText;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        animation: jackInTheBox 2s;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        color: $headerText;
    }   
    nav{
        ul{
            color: $headerText;
            display: flex;
            gap: 40px;
            align-items: center;
            li{
                font-size: 1.2rem;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    color: $headerUserColor;
                }
                
                .fa-solid{  
                    color: $headerUserColor;
                }
                .user{
                    color: $headerUserColor;
                }     
                
            }
            .heartbeat{
                &:hover{
                    animation: heartBeat 2s infinite;
                }
            }
            .get-started{
                animation: pulse 2s infinite;
                border: 1px solid white;
                padding: 15px 10px;
                border-radius: 10px;
                transition: background-color 0.2s ease-in-out;
                &:hover{
                    color: $backgroundBlue;
                    background-color: $headerText;
                }
                
            }
        }
    }
}

main{
    padding: 130px 150px;
    .opening{
        h1{
            font-size: 5rem;
            line-height: 1.2;
            color: $headerText;
            animation: fadeInLeft 2s;
        }
        h2{
            color: $headerText;
            font-size: 2rem;
            line-height: 1.5;
            margin-top: 40px;
            animation: fadeInLeft 2s; 
            //animation: fadeInLeft 2s 0.2s; //why is it displayed on screen those 0.2 seconds
        }
        .learn-more-btn{
            animation: pulse 2s infinite; 
            //animation: fadeInLeft 2s; //amaze rato ar kna ekranis bolodan
            font-weight: 500;
            border: 1px solid $headerUserColor;
            padding: 20px 15px;
            border-radius: 10px;
            width: fit-content;
            margin-top: 50px;
            background-color: $headerUserColor;
            cursor: pointer;
            color: $backgroundBlue;
            font-size: 1.3rem;
            transition: background-color 0.2s;
            &:hover{
                border: 1px solid $headerText;
                color: $headerText;
                background-color: $backgroundBlue;
            }   
            
        }
    }

    .grid-fadeup{
        padding-top: 270px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        row-gap: 100px;
        column-gap: 200px;
        .fade-up-grid{
            border: 1px solid $headerText;
            height: auto;
            background-color: #1a2130;
            padding: 40px 30px;
            .fadeup-flex{
                display: flex;
                align-items: center;
                gap: 20px;
                i{
                    color: $headerUserColor;
                    font-size: 2.5rem;
                }
                h3{
                    color: $headerUserColor;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
            }
            p{
                color: $headerText;
                font-size: 1.2rem;
                line-height: 1.2;
                padding-top: 30px;
            }
        }
    }
    

}
